/* START GRID */

.wrapper {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, minmax(1fr, 1fr));
    grid-gap: 10px;
    /* grid-template-columns: minmax(20px, auto) 1fr 1fr; */
    /* grid-template-rows: minmax(20px, auto) 1fr 1fr; */
    /* grid-auto-rows: minmax(100%, auto); */
}

/* .base is shared css among all articles */
.base {
    color: #fff;
    font-size: 150%;
    border: 1px solid white;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255,255,255,0.3)
}

/* individual css for articles */
.a {
    padding: 10px;
    grid-column: 2 / 5;
    grid-row: 1;
    border: 1px solid black;
    background-color: #f1e9db;
}
.b {
    padding: 10px;
    grid-column: 5;
    grid-row: 1 / 3;
    margin: 15px;
    background-color: rgba(255, 255, 255, 0.3);
}
.c {
    padding: 10px;
    grid-column: 2 / 4;
    grid-row: 2 ;
    background-color: rgba(255, 255, 255, 0.3);
    /* background-color: #a39b8b; */
}
.d {
    padding: 10px;
    grid-column: 4;
    grid-row: 2;
    background-color: rgba(255, 255, 255, 0.3);
    /* background-color: #a39b8b; */
}

.e {
    padding: 10px;
    grid-column: 2 / 4;
    grid-row: 3;
    background-color: rgba(255, 255, 255, 0.3);
}
.f {
    padding: 10px;
    grid-column: 4 / 6;
    grid-row: 3;
    border: 1px solid black;
    background-color: #f1e9db;
}
.g {
    padding: 10px;
    grid-column: 2;
    grid-row: 4;
    background-color: rgba(255, 255, 255, 0.3);
}
.h {
    padding: 10px;
    grid-column: 3 / 5;
    grid-row: 4;
    background-color: rgba(255, 255, 255, 0.3);
}
.i {
    padding: 10px;
    grid-column: 5;
    grid-row: 4;
    background-color: rgba(255, 255, 255, 0.3);
}
.j {
    grid-column: 1;
    grid-row: 1 / 5;
    background-color: rgba(255, 255, 255, 0.3);
}

 /* END GRID  */
